env:
  global:
  - TERM=dumb
  - secure: g0Ik4INVcQMaD0acENFwlZKSw+t225Go6moC6dulUuAJrXA/VNIu1prqIqaahX/feip/YVueZANpGATdd8BQTKRjQVEN5/71AK2E/nfNHtPg0xZJDGaiDNGPORZe10/iVcsPayNT7/5VHnkvwzHOdi/u9I4qN7/sowgdBpQbVS8GAQovckaC7hJyw/oZMPVhqCU9eIW5RKqKq1s98Os/zTKHTcfHNRcT8+Bq17gZt8dw7UlE06VfhmLHbL5yKDZ/w6A5OfaWngL4wT1/Qob+TAH85XhDDmmqgUiL5Z26+Z6Mj9XmAz1dalX0w5FkVvpkXzTpb0lqAdX9WPtQB/ZdcDDv1N8fATiY+W4ACC6QVaqkuA1OHvX9eiQy1cLPTo9VBCY53LXhN7wK+3UmxvqcF+9xAKyF6n0zbocj0ga7eYq16gwys89K5sUWKLNz7kUjZCb+lUw3r/agVnvnfQF6YJRrovxLKKWbz5SyQ9IPMXniXJEwYzIQmPZy63SW/y9TE8uw/TLQaooZ/cVsY824iSYh3Phm3eQNrP6OoQAH9PTaMzlTcEBXA6edE0XCtKjwoMYQaTLxyLQ5e/HoudhcyKvfQdYVrjFYvlJV7BwHyvwPMqza3YYgTGnhvCx6tcxm7EWd1i69DKgQ9gVN3a1MPs+OgrzqwQzr+Az5rj6/cZE=

language: java
jdk: oraclejdk8

apt:
  update: true
  packages:
  - bash

install: true
script:
- ./mvnw clean package deploy >/dev/null
- java -jar target/*-all.jar
#
- ./mvnw exec:exec

before_deploy: ./mvnw clean package

deploy:
  provider: pages
  skip-cleanup: true
  # travis encrypt GITHUB_TOKEN=<your github repo token> --add
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  on:
    branch: master
  local-dir: target/generated-docs
  target_branch: gh-pages

before_cache:
- sudo rm -rf $HOME/.gradle/caches/4.8/fileHashes/fileHashes.bin
- sudo rm -rf $HOME/.gradle/caches/4.8/fileHashes/fileHashes.lock
- sudo rm -rf $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
  - $HOME/.m2
